body{
    background-color: #dee7f8;
}

#logo{
    width: 100px;
    height: 50px;
    text-align: left;
}
.cslab-image{
   width:auto;
    height:200px;

}
p{
    text-align: left;
}

.cslab-image{
    text-align: left;
}

.img1{
    height:350px;
}
.img2{
    height: 350px;
}
.img3{
    height: 350px;
}
